<a href="https://colab.research.google.com/github/kshipra-jadav/ztm-dl/blob/master/Introduction_To_NLP_with_TensorFlow_ZTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction To NLP - Natural Language Processing With TensorFlow ðŸ”¥

## Getting Helper Functions

In [ ]:
!wget https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py

--2023-08-19 05:45:07--  https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10246 (10K) [text/plain]
Saving to: â€˜helper_functions.pyâ€™

helper_functions.py 100%[===================>]  10.01K  --.-KB/s    in 0s

2023-08-19 05:45:07 (70.9 MB/s) - â€˜helper_functions.pyâ€™ saved [10246/10246]

## Getting A Text Dataset
The dataset that we are going to be using is the **Kaggle's Introduction To NLP Dataset** which is a text sample of Tweets labelled as Disaster or Not A Disaster.

Basically, Binary Classification on Tweets.

In [ ]:
!wget https://storage.googleapis.com/ztm_tf_course/nlp_getting_started.zip

--2023-08-19 05:45:08--  https://storage.googleapis.com/ztm_tf_course/nlp_getting_started.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 172.253.123.128, 142.250.97.128, 142.251.107.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.253.123.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 607343 (593K) [application/zip]
Saving to: â€˜nlp_getting_started.zipâ€™

nlp_getting_started 100%[===================>] 593.11K  --.-KB/s    in 0.007s

2023-08-19 05:45:08 (88.5 MB/s) - â€˜nlp_getting_started.zipâ€™ saved [607343/607343]

In [ ]:
from helper_functions import unzip_data

unzip_data("nlp_getting_started.zip")

In [ ]:
import os
for dirpath, dirname, filename in os.walk("/content"):
  print(dirpath, dirname, filename, sep=" - ")

/content - ['.config', '__pycache__', 'sample_data'] - ['sample_submission.csv', 'test.csv', 'nlp_getting_started.zip', 'train.csv', 'helper_functions.py']
/content/.config - ['logs', 'configurations'] - ['gce', '.last_opt_in_prompt.yaml', 'default_configs.db', '.last_survey_prompt.yaml', 'active_config', 'config_sentinel', '.last_update_check.json']
/content/.config/logs - ['2023.08.17'] - []
/content/.config/logs/2023.08.17 - [] - ['13.28.08.232748.log', '13.28.34.729855.log', '13.28.58.904077.log', '13.29.33.105897.log', '13.29.07.422508.log', '13.29.32.346874.log']
/content/.config/configurations - [] - ['config_default']
/content/__pycache__ - [] - ['helper_functions.cpython-310.pyc']
/content/sample_data - [] - ['anscombe.json', 'README.md', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_train_small.csv', 'mnist_test.csv']

In [ ]:
import pandas as pd

train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [ ]:
train_df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [ ]:
train_df.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [ ]:
test_df

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES Â‰Ã›Ã’ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [ ]:
len(train_df), len(test_df)

(7613, 3263)

In [ ]:
train_df_shuffled = train_df.sample(frac=1, random_state=19)

train_df_shuffled

,id,keyword,location,text,target
1075,1554,bomb,NaN,New Documents Found Pointing To Japan's WWII A...,1
5591,7978,razed,NaN,The Latest: More homes razed by Northern Calif...,1
7478,10696,wreck,"Victoria, BC",@Memenaar But the design decision to 'Let's ma...,0
5059,7210,natural%20disaster,NaN,Expert Prepper: Financial Collapse Natural Dis...,1
3768,5351,fire,the road to success,I wanna set some shit on fire.,1
...,...,...,...,...,...
5032,7175,mudslide,NaN,You've 100% fucked up when Paul says your cake...,0
1378,1987,bush%20fires,London/Bristol/Guildford,On holiday to relax sunbathe and drink ... Put...,0
757,1093,blew%20up,#SOUTHAMPTON ENGLAND,The universe might not actually exist scientis...,0
2670,3832,detonate,Bikini bottom,@mwnhappy this message will self detonate in 5...,0
5725,8170,rescuers,"?????????????, Thailand",VIDEO: 'We're picking up bodies from water': R...,1

In [ ]:
import random

idx = random.randint(0, len(train_df) - 5)

for row in train_df[["text", "target"]][idx:idx+5].itertuples():
  _, text, target = row
  print(f"Target :- {'(real disaster)' if target == 1 else '(fake disaster)'}")
  print(f"Text :- {text}")
  print("---\n")

Target :- (fake disaster)
Text :- -- small bag from the bottom the wounded hero shakes it. A Senzu Bean falls from it. GohanÂ‰Ã›Âªs surprised. Shakes the pouch once more but --
---

Target :- (real disaster)
Text :- @wocowae Officer Wounded Suspect Killed in Exchange of Gunfire http://t.co/QI2BDvkab7 ushed
---

Target :- (real disaster)
Text :- Police Officer Wounded Suspect Dead After Exchanging Shots: Richmond police officer wounded suspect killed a... http://t.co/w0r8EAOKA0
---

Target :- (real disaster)
Text :- Gunshot wound #9 is in the bicep. The only one of the ten wounds that is not in the chest/torso area.  #KerrickTrial #JonathanFerrell
---

Target :- (fake disaster)
Text :- @CharlesDagnall He's getting 50 here I think. Salt. Wounds. Rub. In.
---

## Making A Validation Dataset

In [ ]:
from sklearn.model_selection import train_test_split

X = train_df_shuffled["text"]
y = train_df_shuffled["target"]

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=19)

len(X_train), len(X_valid), len(y_train), len(y_valid)

(6090, 1523, 6090, 1523)

In [ ]:
X_train.head(), y_train.head()

(1780    MotoGP Indianapolis: Espargaro: Layout 'worrie...
 5492    Reddit Will Now Quarantine OffensiveÃ¥ÃŠContent ...
 747        @DamnAarielle yo timeline blew up so damn fast
 2255    Tarp is protecting outfield and cannot be move...
 6329    Virgin galactic crash: early unlocking of brak...
 Name: text, dtype: object,
 1780    0
 5492    0
 747     0
 2255    1
 6329    1
 Name: target, dtype: int64)

## Converting Text to Numbers

When we're dealing with NLP problems, we often need to convert the text that we have to numbers.

This will help the neural network to understand the text that we're feeding it since the neural network doesn't understand text at all. It only understand numbers.

Hence, to convert text to numbers, we can use one of the two techniques below:-
1. **Tokenization** - direct mapping of a token `a token can be a word or a character` to a number.
2. **Embedding** - creating a matrix of feature vector for each token

### Text Vectorization (Tokenization)

In [ ]:
X_train.head()

1780    MotoGP Indianapolis: Espargaro: Layout 'worrie...
5492    Reddit Will Now Quarantine OffensiveÃ¥ÃŠContent ...
747        @DamnAarielle yo timeline blew up so damn fast
2255    Tarp is protecting outfield and cannot be move...
6329    Virgin galactic crash: early unlocking of brak...
Name: text, dtype: object

In [17]:
from tensorflow.keras.layers import TextVectorization

# Using the default TextVectorization Parameters

text_vectorizer = TextVectorization(max_tokens=None, # how many words you want to keep in vocabulary? None means the method will decide automatically and any word outside the vocabulary will be marked as <OOV>
                                    standardize="lower_and_strip_punctuation",
                                    split="whitespace",
                                    ngrams=None, # do you want to create groups of n-words?
                                    output_mode="int", # mapping tokens to numbers
                                    output_sequence_length=None, # how long do you want the sequences to be?
                                    pad_to_max_tokens=False)

In [22]:
# Finding the average number of words in each tweet in the training dataset

round(sum([len(i.split()) for i in X_train]) / len(X_train))

15

In [25]:
# Hence, by average, each tweet is 15 words long.
# Setting up the hyperparameters now

max_vocab_length = 10000 # Only include 10000 words in our vocabulary. All the other words will be marked <OOV>
max_words = round(sum([len(i.split()) for i in X_train]) / len(X_train))

text_vectorizer = TextVectorization(max_tokens=max_vocab_length,
                                    output_mode="int",
                                    output_sequence_length=max_words)
text_vectorizer